@model WebApplication1.Models.ImageGalleryModel
@{
    ViewBag.Title = "Home Page";
}

<style>
    .mySlides {
        display: none;
        width: 100%;
        height: 100%;
    }

    .button {
        background-color:orangered;
        border: none;
        color:black;
    }

    .button:hover,
    .button:focus {
    color: #ffffff;
}
</style>

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>

<div class="jumbotron" style="height:850px; width:1230px;">
    <div style="border-bottom:1px solid orangered;"></div>
    @if (Model.ImageList.Count > 0)
    {
        <div class="item">
            @for (int imgIndex = 0; imgIndex < Model.ImageList.Count; imgIndex++)
            {
                if (imgIndex == 0)
                {
                    <img class="mySlides" src="@Url.Content("~/Images/" + Model.ImageList[imgIndex].Name)" style="display:block">
                }
                else
                {
                    <img class="mySlides" src="@Url.Content("~/Images/" + Model.ImageList[imgIndex].Name)">
                }
            }
            <div class="w3-section" style="text-align: center; background-color: orangered">
                <button class="button" onclick="plusDivs(-1)">❮ Prev</button>
                <button class="button" onclick="plusDivs(1)">Next ❯</button>
            </div>
        </div>
    }
</div>