@model WebApplication1.Models.ImageGalleryModel
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .imgBox {
        width: 350px;
        height: 200px;
        opacity: 1.0;
        filter: alpha(opacity=100);
    }

        .imgBox:hover {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
            opacity: 0.4;
            filter: alpha(opacity=40);
        }
</style>
<div class="jumbotron" style="height:850px; width:1230px;">
    <div style="border-bottom:1px solid orangered;"></div>
    @if (Model.ImageList.Count > 0)
    {
        <div class="row-fluid">
            <div class="span2">
                <div class="item">
                    @foreach (var image in Model.ImageList)
                    {
                        <div style=" margin:10px; float:left; height:200px; overflow:hidden; width:350px;">
                            <a id="ShowImage"
                               title="Photo" href="@Url.Content("~/Images/"+ image)">
                                <div class="zoom">
                                    <img src="@Url.Content("~/Images/" + image)" class="imgBox" />
                                    <div class="zoom-icon"/>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>